/* Applied to all elements*/
*{
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}

.skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* Style navBar */
.navBar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    right: 0;
}
/* hide links inside the nav menu */
.navBar #navLinks {
    display: none;
}
/* style nav menu links */
.navBar a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    display: block;
    text-align: right;
}
/* style hamburger menu */
.navBar a.icon {
    background: #000;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}
/* style for active link */
.active{
    background-color: #000000;
    color: #fff;
}

.fa-bars{
    color: rgb(255, 6, 6);
}

/* Style intro */
#intro{
    text-align: left;
    display: inline;
    margin: 20px;
    position: relative;
    top: 200px;
}
.introH1{
     margin: 10px;
}

.introImg{
    float: right;
    width: 150px;
    margin-top: 25px;
}
.introH3{
    display: inline-block;
}
#btn{
    border: 3px solid rgb(255, 0, 0);
}

/* Style Project */
#projects{
    position: relative;
    top:450px;
    margin: 20px;
    width: 35%;
}
.googleImg{
    width: 100%;
    height: 80%;
}
.landingPageImg{
    width: 100%;
    height: 80%;
}
.details,
.show,
.hide:target{
    display: none;
}
.hide:target + .show,
.hide:target ~ .details{
    display: block;
}

.details{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 20px;
}
.hide, .show{
    color: rgb(255, 0, 0);
}

#more button{
    margin:25px;
    border:  3px solid rgb(255, 0, 0);
    background-color: #fff;
    color: #000;
    font-weight: bolder;
    width: 100%;
}
/* Style Contact */
#contact{
    position: relative;
    top: 660px;
}
#contact-h2{
    text-align: center;

}
#contactIcons{
    display: inline-block;
    justify-content: space-between;
    font-size: 24px;
}
#contactIcon2{
    margin-right: 70px;
    color: rgb(255, 0, 0);
}
#contactIcon3{
    margin-left: 60px;
    margin-right: 60px;
    color: rgb(9, 115, 237);
}
#contactIcon4{
    margin-left: 60px;
    margin-right: 0;
    color: rgb(255, 255, 255);
}

#maintained {
    color: #fff;
    position: relative;
    font-size:20px;
    bottom: 16px;
}
/* Media Queries */
/* Tablet */
@media (min-width: 481px) and (max-width:1180px) {
    .introImg{
        float: left;
        margin-right: 20px;
        
    }
    
}
/* Desktop */
@media (min-width:1185px)  {
    *{
        font-size:30px;
    }
    .navBar a.icon{
        font-size: 40px;
    }
    #intro{
        font-size: 55PX;
        text-align: center;
    }
    .introH1 li{
        font-size: 59px;
    }
   .introH1{
    margin: 40PX;
   }
    .introH1{
        font-size: 35px;
    }
    .introImg{
        float: left;
    }
    #contact{
        text-align: center;
    }

#btn:hover{
background: linear-gradient(#8c00fc, #3500ff, #01fe01, #fffe37,#ff8600, #ed0003);
color: #000;
font-weight: bolder;
}

}